{% extends "base.html" %}

{% block content %}
<div class="intro">
  <h1 class="title name"><strong>FLOSS</strong><span>/fund</span></h1>
  <h2>$1 million a year for free and open source projects</h2>
  <p><code>No []strings attached</code></p>
</div>

<div>
    <p>
      Started in 2024, FLOSS/fund is dedicated to supporting critical, impactful, and valuable
      Free/Libre and Open Source projects globally.
      We give up to $1 million per year to support developers and communities
      that create and maintain projects, big and small.

      <a href="{{ get_url(path="@/blog/announcing-floss-fund.md") }}"><strong>Read the announcement</strong></a>.
    </p>

    <p>
      Much of the foundation underlying the modern technology landscape and the internet itself is built on the fruits of labour of individuals and
      communities in the form of free and open source software. We aim to contribute our tiny bit to this
      enormous global effort of passion, innovation, and freedom.
    </p>
    <p>
      <strong>FLOSS:</strong>
        Free/Libre and Open Source Software /
        For the Love of Open Source Software /
        The Floss flower (Ceiba speciosa) in the logo, because why not!
    </p>
    <br />

    <div class="row">
      <div class="col-6">
        <p><a href="https://dir.floss.fund/submit" class="button">Apply now</a></p>
      </div>
      <div class="col-6 dim-small partner" style="text-align: right;">
        Ecosystem partner<br />
        <a href="https://fossunited.org"><img src="{{ get_url(path="/static/fossunited.svg", cachebust=true) }}" alt="FOSS United Foundation logo">
        </a>
      </div>
</div>


{% endblock content %}
