{% extends "base.html" %}

{% block content %}
<div class="intro">
  <h1 class="title name"><strong>FLOSS</strong><span>/fund</span></h1>
  <h2>$1 million a year for free and open source projects</h2>
  <p>No <code>[]strings</code> attached</p>
</div>

<div class="row">
  <div class="col-6">
    <p>
      FLOSS/fund is dedicated to supporting critical, impactful, and valuable
      Free/Libre and Open Source projects globally.
      We give up to $1 million per year to support developers and communities
      that create and maintain projects, big and small.
    </p>
    <p><a href="{{ get_url(path="@/blog/announcing-floss-fund.md") }}">Read the announcement</a></p>
  </div>

  <div class="col-6">
    <p>
      Much of the foundation underlying the modern technology landscape and the internet itself is built on the fruits of labour of individuals and
      communities in the form of free and open source software. We aim to contribute our tiny bit to this
      enormous global effort of passion, innovation, and freedom.
    </p>
    <p class="definition">
      <strong>FLOSS</strong> &mdash;
        Free/Libre and Open Source Software |
        For the Love of Open Source Software |
        The Floss flower, Ceiba speciosa, in the logo. Why not!
    </p>
  </div>
</div>

    <p><a href="https://dir.floss.fund/submit" class="button">Apply now</a></p>


<hr />
{% endblock content %}
